{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}

	<!-- Main div is for login and register purpose -->
		<div class="maindiv">
			<!--div for preloader-->
			<div id="preloader">
				<img src="http://cdn.ndtv.com/vp/static/images/preloader.gif" alt="">
			</div>
			<div class="navpage">
				<div class="login-nav">
					<button id="login-nav"><h3>Login</h3></button>
				</div>
				<div class="register-nav">
					<button id="register-nav"><h3>Register</h3></button>
				</div>
			</div>
			<div class="log-reg">
				<div class="login">
					<div class="logindiv">
						<h1>Login</h1>
						<form action="/login" id="log-form" method="post">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
									<input type="email" placeholder="user@example.com" name="email" class="form-control" >
								</div>
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
									<input type="password" placeholder="*****" name="pass" class="form-control" id="password">
								</div>
								<div class="input-group">
									<input type="submit" value="Submit" name="log-submit" class="form-control btn btn-info">
								</div>
						</form>
					</div>
				</div>

				<div class="register">
					<div class="registerdiv">
						<h1>Register</h1>
						<form action="/register" id="reg-form" method="post">
							<div class="input-group">
								<input type="text" name="name" placeholder="Username" class="form-control">
							</div>
							<div class="input-group">
								<input type="email" placeholder="user@example.com" name="email" class="form-control">
							</div>
							<div class="input-group">
								<input type="password" placeholder="*****" name="pass" class="form-control">
							</div>
							<div class="input-group">
								<input type="submit" value="Submit" name="reg-submit" class="form-control btn btn-success">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

{% endblock %}